$mobile: 600px;
$table: 800px;
$desktop: 1000px;

:root {
  --primary-color: #f9636c;
  --secondary-color: #6147D5;
  --primary-gradient: linear-gradient(to right, #6147d5, #5dabdb);
  --foreground-color: #4a4a4a;
  --background-color: white;

  --box-shadow: 0 5px 6px #4a4a5a;

  --container: 800px;

  --spacing: 1rem;
  --spacing-s: 0.5rem;
  --spacing-m: 2rem;
  --spacing-x: 4rem;

  --top: 3;
  --middle: 2;
  --bottom: 1;

  --border: 999px;

  --title-font: 'Nunito', sans-serif;
  --base-font: 'Open Sans', sans-serif;
}
