---
---

:root {
  --primary-color: #f9636c;
  --secondary-color: #a2252d;
  --primary-gradient: linear-gradient(to right, #6147d5, #5dabdb);
  --secondary-gradient: linear-gradient(to left top, var(--primary-color), var(--secondary-color));

  --mobile: 600px;
  --tablet: 800px;
  --desktop: 1000px;

  --spacing: 1rem;
  --spacing-s: 0.5rem;
  --spacing-m: 2rem;
  --spacing-x: 4rem;

  --border: 999px;

  --title-font: 'Nunito', sans-serif;
  --base-font: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  background-color: white;
  font-size: 16px;
  line-height: 1.8;
  color: rgb(36, 36, 36);
  font-family: var(--base-font);
}

// Base styles

a {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px;
  text-decoration: none;
  color: var(--primary-color);
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 5px;
  overflow: hidden;
}

a:before, a:after {
  content: "";
  position: absolute;
  transition: transform .5s ease;
}

a:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--primary-color);
  transform:  translateX(-100%);
}

a:hover:before {
  transform:  translateX(0);
}

button {
  text-transform: uppercase;
  font-weight: lighter;
  background-color: var(--primary-color);
  // background: var(--secondary-gradient);
  // background-size: 300% 300%;
  color: white;
  border: none;
  position: relative;
  padding: var(--spacing-s) var(--spacing-m);
  z-index: 1;
  letter-spacing: 0.15rem;
  border-radius: var(--border);
  transition: 0.5s ease all;
  outline: 0;
}

button:after {
  opacity: 0;
  content: "";
  z-index: -1;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  border-radius: var(--border);
  // background: var(--secondary-gradient);
  background-color: var(--secondary-color);
  height: 100%;
  filter: blur(10px);
  transform: translateY(10px);
  transition: 0.25s ease opacity;
}

button:hover {
  animation: Gradient 2s ease infinite;
  cursor: pointer;
}

button:hover:after {
  opacity: 0.5;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font);
}

.main > * > h2:before {
  content: "â¤";
  transform: translateX(-115%);
  position: absolute;
}

// Page styles

.anchor {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100px);
  visibility: hidden;
}

.main {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
  "h h h"
  ". i ."
  "p p p"
  ". v ."
  ". o ."
  ". c ."
  "f f f";
  grid-template-columns: 1fr var(--desktop) 1fr;
}

.main > *{
  margin: var(--spacing-x) 0;
  position: relative;
}

// Header

.header {
  margin: 0;
  position: fixed;
  display: flex;
  z-index: 1;
  width: 100%;
  padding: 0 var(--spacing);
  transition: 0.5s ease all;
}

.header--scrolled {
  background-color: white;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.header--scrolled .header__link {
  color: var(--primary-color);
}

.header__link {
  border-top: 4px solid transparent;
  padding: var(--spacing-m) var(--spacing-s) var(--spacing) var(--spacing-s);
  color: white;
}

.header__link--active {
  border-top: 4px solid var(--primary-color);
}

.header__logo {
  margin-right: auto;
}

// Hero

.hero {
  color: white;
  grid-area: h;
  display: flex;
  height: 100vh;
  margin: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--primary-gradient);
}

.hero > p {
  max-width: var(--desktop);
}

.hero__animation > div {
  position: absolute;
  color: var(--primary-color);
  opacity: 0.6;
  fill: currentColor;
}

.hero__animation--1 {
  left: 0;
  bottom: 70px;
}

.hero__animation--2 {
  right: 240px;
  top: 120px;
}

.hero__curve {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.hero__curve > img {
  width: 100%;
  height: 100%;
}

@keyframes from0to360 {
  from {
    transform: rotate(0);
  }
  to {
   transform: rotate(360deg);
  }
}

@keyframes from360to0 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

#blob-1 {
  animation: from0to360 5s linear infinite;
  transform-origin: 145px 150px;
  cx: 150;
  cy: 145;
  r: 100;
}

#blob-2 {
  animation: from360to0 10s linear infinite;
  transform-origin: 155px 150px;
  cx: 150;
  cy: 155;
  r: 100;
}

#blob-3 {
  animation: from0to360 15s linear infinite;
  transform-origin: 150px 145px;
  cx: 145;
  cy: 150;
  r: 100;
}

#blob-4 {
  animation: from360to0 12.5s linear infinite;
  transform-origin: 150px 155px;
  cx: 155;
  cy: 150;
  r: 100;
}

// Info

.info {
  grid-area: i;
}

// Call for papers

.call-for-papers {
  grid-area: p;
  color: white;
  padding: var(--spacing-x);
  background-color: rgb(116, 116, 116);
}

.call-for-papers__wrapper {
  width: var(--desktop);
  margin: 0 auto;
}

// Organizers

.organizers {
  grid-area: o;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: var(--spacing-s);
}

.organizers > h2 {
  text-align: center;
}

.organizers > img {
  width: 100%;
  height: auto,
}

// Venue

.venue {
  grid-area: v;
}

.venue__wrapper {
  display: flex;
}

.venue__description {
  margin: 0;
  padding-right: var(--spacing-m);
  flex: 1;
}

.venue__map {
  flex: 2;
}

// Code of conduct

.code-of-conduct {
  grid-area: c;
}

// Footer

.footer {
  grid-area: f;
  margin-bottom: 0;
}

.footer__wrapper {
  display: flex;
}

.footer__wrapper, .footer__subfooter {
  margin: 0 auto;
  width: var(--desktop);
}

.footer__description > p {
  margin-top: 0;
}

.footer__subfooter a:not(:last-child) {
  border-right: 1px solid var(--primary-color);
}

.footer__subfooter a {
  padding: 0 var(--spacing-s);
}

.footer__wrapper > div:not(.footer__description) {
  flex: 1;
}

.footer__wrapper > div > div > a:first-child {
  padding-top: 0;
}

.footer__wrapper a {
  display: block;
}

.footer__description {
  flex: 3;
}

.footer__subfooter {
  margin-top: var(--spacing-m);
  display: flex;
}

.footer__subfooter div:last-child {
  margin-left: auto;
}
