.header {
  margin: 0;
  position: fixed;
  z-index: var(--top);
  width: 100%;
  padding: 0 var(--spacing-x);
  transition: 0.5s ease height;
}

.header__wrapper {
  display: flex;
  margin: 0 auto;
  max-width: var(--container);
}

.header__links {
  display: flex;
}

.header--scrolled {
  background-color: var(--background-color);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.header--scrolled .header__link {
  color: var(--foreground-color);
}

.header__link {
  border-top: 4px solid transparent;
  padding: var(--spacing);
  color: var(--background-color);
}

.header__link--active {
  border-top: 4px solid var(--primary-color);
}

.header__logo {
  margin-right: auto;
}

.header__hamburger-menu, .header__hamburger-menu__btn {
  display: none;
}

.header__hamburger-menu__btn:checked ~ .header__hamburger-menu__icon .header__hamburger-menu__navicon {
  background: transparent;
}

.header__hamburger-menu__btn:checked ~ .header__hamburger-menu__icon .header__hamburger-menu__navicon:before {
  transform: rotate(-45deg);
}

.header__hamburger-menu__btn:checked ~ .header__hamburger-menu__icon .header__hamburger-menu__navicon:after {
  transform: rotate(45deg);
}

// This makes the icon not overflow
.header__hamburger-menu__btn:checked ~ .header__hamburger-menu__icon:not(.steps) .header__hamburger-menu__navicon:before,
.header__hamburger-menu__btn:checked ~ .header__hamburger-menu__icon:not(.steps) .header__hamburger-menu__navicon:after {
  top: 0;
}

.header__hamburger-menu__icon {
  display: none;
  cursor: pointer;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header__hamburger-menu__navicon {
  background: var(--background-color);
  display: block;
  height: 2px;
  position: relative;
  transition: 0.2s ease-out;
  width: 18px;
}

.header__hamburger-menu__navicon:before,
.header__hamburger-menu__navicon:after {
  background: var(--background-color);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header__hamburger-menu__navicon:before {
  top: 5px;
}

.header__hamburger-menu__navicon:after {
  top: -5px;
}

.header--scrolled {
  .header__hamburger-menu__navicon, .header__hamburger-menu__navicon:before, .header__hamburger-menu__navicon:after {
    background: var(--foreground-color);
  }
}

@media (max-width: $mobile) {
  .header {
    width: initial;
    padding: var(--spacing-s) !important;
    border-radius: 999px;
    margin: var(--spacing-s);
  }

  .header--clicked {
    background: var(--background-color);
    height: 100vh;
    border-radius: 0;
    width: 100%;
    margin: 0;
  }

  .header--clicked {
    .header__hamburger-menu__navicon, .header__hamburger-menu__navicon:before, .header__hamburger-menu__navicon:after {
      background: var(--foreground-color);
    }
  }

  .header--clicked .header__links a {
    color: var(--darker-color);
  }

  .header--clicked .header__hamburger-menu__icon {
    padding-left: 0;
  }

  .header__hamburger-menu__icon {
    display: inline-block;
  }

  .header__hamburger-menu__btn:not(:checked) ~ .header__links {
    max-height: 0;
    display: none;
  }
}
