<!DOCTYPE html>
<html lang="es">
  <link href="https://fonts.googleapis.com/css?family=Nunito|Open+Sans:400,400i,600" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <body>
    <main class="main">
      <header class="header">
        <div class="header__logo">
          <a data-link="home" class="header__link" href="#">Logo</a>
        </div>
        <div>
          <a data-link="info" class="header__link" href="#">Sobre AXP</a>
        </div>
        <div>
          <a data-link="call-for-papers" class="header__link" href="#">Call for papers</a>
        </div>
        <div>
          <a data-link="venue" class="header__link" href="#">Localización</a>
        </div>
        <div>
          <a data-link="organizers" class="header__link" href="#">Organizadores</a>
        </div>
        <div>
          <a data-link="code-of-conduct" class="header__link" href="#">Código de conducta</a>
        </div>
      </header>

      <section class="hero">
        <span class="anchor" id="home"></span>
        <h1>AXP</h1>
        <p>Al borde de la mayoría de edad del <strong>Manifiesto Ágil</strong>, <em>¿no crees que Negocio e IT siguen caminos independientes?</em> <strong>AXP Reboot</strong>, recordemos nuestros orígenes volviendo a los valores iniciales.</p>
        <button>Call to action</button>

        <div class="hero__animation">
          <div class=" hero__animation--1">
            <svg id="organic-blob" width="300" height="300" xmlns="http://www.w3.org/2000/svg" filter="url(#goo)">
              <defs>
                <filter id="goo">
                  <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                  <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                  <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
                </filter>
              </defs>
              <circle id="blob-1"></circle>
              <circle id="blob-2"></circle>
              <circle id="blob-3"></circle>
              <circle id="blob-4"></circle>
            </svg>

          </div>

          <div class=" hero__animation--2">
            <svg id="organic-blob" width="300" height="300" xmlns="http://www.w3.org/2000/svg" filter="url(#goo)">
              <defs>
                <filter id="goo">
                  <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                  <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                  <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
                </filter>
              </defs>
              <circle id="blob-2"></circle>
              <circle id="blob-1"></circle>
              <circle id="blob-4"></circle>
              <circle id="blob-3"></circle>
            </svg>
          </div>
        </div>

        <div class="hero__curve">
          <img src="/static/imgs/curve.svg" alt="">
        </div>
      </section>

      <section class="info">
        <span class="anchor" id="info"></span>
        <h2>¿Qué es AXP?</h2>
        <p>¿Recuerdas cómo te enamoraste del Agilismo? Últimamente no hacemos más que ver la patente distancia entre el mundo de Negocio y Tecnología y recordamos nostálgicos cuando ambos campos crecían de la mano para favorecer un trabajo transversal lo más eficaz y productivo, sin olvidar la calidad del producto y la felicidad de los componentes de los equipos. ¿No te gustaría volver a una conferencia PARA TODOS?</p>
        <p>Ven al AXP Reboot y discute prácticas técnicas y de gestión, ¡aprendamos juntos! Un día. Dos tracks de charlas y talleres de los dos mundos para acercarlos.
        </p>
      </section>

      <section class="call-for-papers">
        <div class="call-for-papers__wrapper">
          <span class="anchor" id="call-for-papers"></span>
          <h2>Call for papers</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quis, voluptatibus libero error consequatur voluptates eius sequi pariatur possimus incidunt neque illum animi voluptatem nobis impedit odit itaque, nesciunt eaque.
          </p>
        </div>
      </section>

      <section class="organizers">
        <span class="anchor" id="organizers"></span>
        <h2>Organizadores</h2>
        <img src="http://via.placeholder.com/300x300" alt="">
        <img src="http://via.placeholder.com/300x300" alt="">
        <img src="http://via.placeholder.com/300x300" alt="">
        <img src="http://via.placeholder.com/300x300" alt="">
        <img src="http://via.placeholder.com/300x300" alt="">
        <img src="http://via.placeholder.com/300x300" alt="">
        <img src="http://via.placeholder.com/300x300" alt="">
        <img src="http://via.placeholder.com/300x300" alt="">
      </section>

      <section class="venue">
        <span class="anchor" id="venue"></span>
        <h2>Localización</h2>
        <div class="venue__wrapper">
          <p class="venue__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit blanditiis voluptates eos. Nobis, officiis ea. Odio numquam nostrum voluptas quis id nulla, aliquid quisquam omnis itaque vero atque laudantium ut.</p>
          <iframe class="venue__map" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3036.0923930245426!2d-3.5094689296982438!3d40.4510919877913!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2ses!4v1517842177686" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </section>

      <section class="code-of-conduct">
        <span class="anchor" id="code-of-conduct"></span>
        <h2>Código de conducta</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam alias autem architecto rem enim recusandae aut et impedit hic. Sequi numquam optio sed accusantium in. Ipsa corporis numquam impedit magnam.
      </section>

      <footer class="footer">
        <div class="footer__wrapper">
          <div class="footer__description">
            <h2>AXP Reboot</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti ipsum magnam saepe nesciunt aliquid, ea adipisci. Eum dignissimos repellat alias incidunt iure blanditiis autem est corrupti, ut earum ducimus velit?</p>
          </div>
          <div>
            <h2>Contacto</h2>
            <div>
              <a href="callto:+341233112">123 345 123</a>
              <a href="mailto:info@axp-reboot.com">info@axp-reboot.com</a>
            </div>
          </div>
          <div>
            <h2>Síguenos</h2>
            <div>
              <a href="#">Twitter</a>
              <a href="#">Facebook</a>
              <a href="#">Instagram</a>
              <a href="#">Youtube</a>
            </div>
          </div>
        </div>

        <section class="footer__subfooter">
          <div>
            <a data-link="home" href="#">Logo</a>
            <a data-link="info" href="#">Sobre AXP</a>
            <a data-link="call-for-papers" href="#">Call for papers</a>
            <a data-link="venue" href="#">Localización</a>
            <a data-link="organizers" href="#">Organizadores</a>
            <a data-link="code-of-conduct" href="#">Código de conducta</a>
          </div>

          <div>
            <a href="#">Código de conducta</a>
          </div>
        </section>
      </footer>

    </main>

    <script src="{{ "/assets/main.js" | relative_url }}"></script>
  </body>
</html>
