<!DOCTYPE html>
<html lang="es">
  <link href="https://fonts.googleapis.com/css?family=Nunito|Open+Sans:400,400i,600" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <body>
    <main class="main">
      <header class="header">
        <div class="header__logo">
          <a data-link="home" class="header__link" href="#">Logo</a>
        </div>
        <div>
          <a data-link="info" class="header__link" href="#">Información</a>
        </div>
        <div>
          <a data-link="call-for-papers" class="header__link" href="#">Call for papers</a>
        </div>
        <div>
          <a data-link="venue" class="header__link" href="#">Localización</a>
        </div>
        <div>
          <a data-link="organizers" class="header__link" href="#">Organizadores</a>
        </div>
        <div>
          <a data-link="code-of-conduct" class="header__link" href="#">Código de conducta</a>
        </div>
      </header>

      <section class="hero">
        <span class="anchor" id="home"></span>
        <h1>AXP</h1>
        <p>Al borde de la mayoría de edad del Manifiesto Ágil, ¿no crees que Negocio e IT siguen caminos independientes? AXP Rebbot, recordemos nuestros orígenes volviendo a los valores iniciales.</p>
        <button>Call to action</button>
      </section>

      <section class="info">
        <span class="anchor" id="info"></span>
        <h2>¿Qué es AXP?</h2>
        <p>¿Recuerdas cómo te enamoraste del Agilismo? Últimamente no hacemos más que ver la patente distancia entre el mundo de Negocio y Tecnología y recordamos nostálgicos cuando ambos campos crecían de la mano para favorecer un trabajo transversal lo más eficaz y productivo, sin olvidar la calidad del producto y la felicidad de los componentes de los equipos. ¿No te gustaría volver a una conferencia PARA TODOS?</p>
        <p>Ven al AXP Reboot y discute prácticas técnicas y de gestión, ¡aprendamos juntos! Un día. Dos tracks de charlas y talleres de los dos mundos para acercarlos.
        </p>
      </section>

      <section class="call-for-papers">
        <span class="anchor" id="call-for-papers"></span>
        <h2>Call for papers</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quis, voluptatibus libero error consequatur voluptates eius sequi pariatur possimus incidunt neque illum animi voluptatem nobis impedit odit itaque, nesciunt eaque.
      </section>

      <section class="organizers">
        <span class="anchor" id="organizers"></span>
        <h2>Organizadores</h2>
        <img src="http://via.placeholder.com/300x300" alt="">
        <img src="http://via.placeholder.com/300x300" alt="">
        <img src="http://via.placeholder.com/300x300" alt="">
        <img src="http://via.placeholder.com/300x300" alt="">
        <img src="http://via.placeholder.com/300x300" alt="">
        <img src="http://via.placeholder.com/300x300" alt="">
        <img src="http://via.placeholder.com/300x300" alt="">
        <img src="http://via.placeholder.com/300x300" alt="">
      </section>

      <section class="venue">
        <span class="anchor" id="venue"></span>
        <h2>Localización</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit blanditiis voluptates eos. Nobis, officiis ea. Odio numquam nostrum voluptas quis id nulla, aliquid quisquam omnis itaque vero atque laudantium ut.</p>
      </section>

      <section class="code-of-conduct">
        <span class="anchor" id="code-of-conduct"></span>
        <h2>Código de conducta</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam alias autem architecto rem enim recusandae aut et impedit hic. Sequi numquam optio sed accusantium in. Ipsa corporis numquam impedit magnam.
      </section>

      <footer class="footer">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit porro eaque dicta laboriosam magni eum aliquid unde officia doloribus fugiat ratione, dolore tempore voluptates corporis! Aliquam dolor iure quia voluptate.
      </footer>

    </main>

    <script src="{{ "/assets/main.js" | relative_url }}"></script>
  </body>
</html>
